.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;

  .padded {
    padding: 0 20px;
  }
  .mobilePadded {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    .mobilePadded {
      padding: 0;
    }
  }
}
